* {
    box-sizing: border-box;
    background-color: #eaeaea;
}

@font-face {
    font-family: regular;
    src: url(Fonts/CallingCode-Regular.otf);
}

body {
    font-family: regular;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 0;
}

.header {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.header-text {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

h1.header-text { font-size: 120px; }
h2.header-text { font-size: 30px; }

.content {
    margin-left: 15vw;
    margin-right: 15vw;
}

.divider {
    border-top: 4px solid #bbb;
    border-radius: 2px;

    margin-top: 5vh;
    margin-bottom: 5vh;

    margin-left: 5%;
    margin-right: 5%;
}

.about {
    display: flex;
    justify-content: center;
}

.highlight {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}
.highlight-image {
    flex-basis: 120%;
    min-width: 25vmin;
    /* margin-right: 3vmin; */
}
.highlight-text {
    padding-left: 8vmin;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.project {
    /* width: 25vw; */
    /* max-width: 500px; */
}

.thumbnail {
    background-color: unset;
    
    aspect-ratio: calc(16/9);
    border-radius: 9%/16%;
    
    transition: transform 0.1s ease-in-out;

    filter: drop-shadow(1vmin 1vmin 0.5vmin #6161619f)
}

.thumbnail:hover {
    transform: scale(105%);
}

@media (max-aspect-ratio: 3/4) {
    p {
        font-size: 18px;
    }

    h1.header-text { font-size: 80px; }
    h2.header-text { font-size: 20px; }
}

@media (max-aspect-ratio: 1) {
    .content {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .projects {
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

/* 

@media (max-width: 1200px) {
    .content {
        padding: 0 0;
    }
}

.about-column {
    flex: 24%;
    max-width: 24%;

    padding: 0 5%;
}

.content-column {
    flex: 38%;
    max-width: 38%;

    padding: 0 5%;
} */

/* .sqr-img {
    max-width: 100%;
    flex-basis: 40%;
    aspect-ratio: 1;
}

.hor-img {
    aspect-ratio: calc(16/9);
    border-radius: 9%/16%;
}

.ver-img {
    aspect-ratio: calc(9/16);
    border-radius: 16%/9%;
} */

/* 

.white-outline {
    color: #000000;
    text-shadow: 
        1px 1px 0 #fff,
        -1px 1px 0 #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff;
}

.black-outline {
    color: #fff;
    text-shadow: 
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
} */