* {
    box-sizing: border-box;
    background-color: #eaeaea;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}

body {
    font-family: Montserrat;
    margin: 0;
}

.header {
    margin-top: 50px;
    margin-bottom: 5%;
}

.header-text {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.content {
    margin-left: 16vmin;
    margin-right: 16vmin;
}

.divider {
    border-top: 4px solid #bbb;
    border-radius: 2px;

    margin-left: 20vmin;
    margin-right: 20vmin;
}

.highlight {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}
.image {
    flex-basis: 120%;
    /* margin-right: 3vmin; */
}
.highlight-text {
    font-size: 20px;
    padding-left: 20px;
}



/* 

@media (max-width: 1200px) {
    .content {
        padding: 0 0;
    }
}

.about-column {
    flex: 24%;
    max-width: 24%;

    padding: 0 5%;
}

.content-column {
    flex: 38%;
    max-width: 38%;

    padding: 0 5%;
}

.thumbnail {
    background-color: unset;
    
    width: 100%;
    margin-bottom: 5vmin;
    
    transition: transform 0.1s ease-in-out;

    filter: drop-shadow(1vmin 1vmin 0.5vmin #6161619f)
} */

/* .sqr-img {
    max-width: 100%;
    flex-basis: 40%;
    aspect-ratio: 1;
}

.hor-img {
    aspect-ratio: calc(16/9);
    border-radius: 9%/16%;
}

.ver-img {
    aspect-ratio: calc(9/16);
    border-radius: 16%/9%;
} */

/* .thumbnail:hover {
    transform: translate(2.5%, 2.5%) scale(105%);
}

.white-outline {
    color: #000000;
    text-shadow: 
        1px 1px 0 #fff,
        -1px 1px 0 #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff;
}

.black-outline {
    color: #fff;
    text-shadow: 
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
} */