
* {
    box-sizing: border-box;
    background-color: #eaeaea;
}

@font-face {
    font-family: regular;
    src: url(Fonts/CallingCode-Regular.otf);
}

body {
    font-family: regular;
    margin: 0;
    
    margin-bottom: 5vh;
}

div {
    background-color: inherit;
}

img {
    background-color: unset;
    max-width: 100%;

    vertical-align: top;
}

a {
    background-color: unset;
}

h1, h2, h3, h4 {
    margin: 0;
    background-color: inherit;
}

.shadow {
    background-color: unset;
    filter: drop-shadow(0.8vmin 0.8vmin 0.4vmin #6161619f)
}

p {
    background-color: inherit;
    font-size: 20px;
    margin: 0;
}

.header {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.header-text {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

h1.header-text { font-size: 120px; }
h2.header-text { font-size: 30px; }

.content {
    margin-left: 15vw;
    margin-right: 15vw;
}

.divider {
    border-top: 4px solid #bbb;
    border-radius: 2px;

    margin-top: 4vh;
    margin-bottom: 4vh;

    margin-left: 5%;
    margin-right: 5%;
}

.about {
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.about-text {
    margin-right: 10vw;
    margin-left: 10vw;
}

.socials {
    display: flex;

    justify-content: center;

    gap: 3%;

    margin-top: 2vh;
}

.social {
    display: flex;
    background-color: #d2d2d2;

    width: 7%;
    padding: 0.9%;

    max-width: 90px;

    justify-content: center;
    align-items: center;

    border-radius: 1.2vmin;
}

.highlight {
    display: flex;
    justify-content: center;
}

.highlight-image {
    flex-basis: 120%;
    min-width: 25vmin;
}
.highlight-text {
    padding-left: 8vmin;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto;

    gap: 30px;

    margin-bottom: 30px;
}

.project {
    position: relative;
}

.project-title {
    position: absolute;
    bottom: 0%;

    display: flex;
    justify-content: center;
    align-items: end;

    opacity: 0;

    background-color: #000;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, 0.5) 85%);
    color: white;
    
    width: 100%;
    height: 100%;

    font-size: 0;

    z-index: 10;

    transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.project:hover
.project-title {
    opacity: 1;

    font-size: inherit;

    padding-bottom: 3%;
}

.thumbnail {
    aspect-ratio: calc(16/9);
    border-radius: 9%/16%;
}

.hover-anim {
    transition: transform 0.1s ease-in-out;
}

.hover-anim:hover {
    transform: scale(105%);
}

.overlay {
    display: block;
    opacity: 0;

    pointer-events: none;
    
    position: fixed;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;

    transition: opacity 0.4s ease-in-out;
}

.overlay-visible {
    opacity: 1;

    pointer-events: all;
}

.overlay-body {
    display: flex;
    flex-direction: column;

    border-radius: 3vmin;
    
    transform: scale(0%);

    transition: transform 0.4s ease-in-out;
    
    margin-top: 7vmin;
    margin-bottom: 3vmin;
    margin-left: 10%;
    margin-right: 10%;
}

.overlay-body-visible {
    transform: scale(100%);
}

.overlay-header {
    padding-top: 2%;

    background-color: unset;
}

.overlay-content {
    display: flex;
    flex-direction: row;
    gap: 6%;

    padding: 4%;

    background-color: unset;
}

.overlay-column {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.overlay-photos {
    max-width: 500px;
}

.item-links {
    align-self: flex-end;

    display: flex;
    flex-direction: column;

    gap: 1vh;

    width: 40%;
    max-width: 250px;
}

.item-github {
    background-color: #c4c4c4;

    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 0.6vmin;

    justify-content: center;
    align-items: center;
}

@media (max-aspect-ratio: 3/4) {
    p {
        font-size: 16px;
    }

    h1.header-text { font-size: 80px; }
    h2.header-text { font-size: 20px; }
}

@media (max-aspect-ratio: 1) {
    .content {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .projects {
        grid-template-columns: auto auto;
        gap: 20px;
    }
}