* {
    box-sizing: border-box;
    background-color: #c8c8af;
}

@font-face {
    font-family: Montserrat;
    src: url(../Montserrat-Regular.otf);
}

body {
    font-family: Montserrat;
    margin: 0;
}

.Title {
    color: #000;
    text-decoration: none;
  }
  
.Title :hover {
    color: #555;
}
  
.Title h1 {
    font-size: 300%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.left-item {
    padding-right: 3%;
}

.thumbnail {
    width: 80%;
    aspect-ratio: 16 / 9;
    padding-top: 3%;
    padding-right: 3%;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: flex-end;
}

.right-item {
    width: 80%;
}

.box {
    padding-left: 3%;
}