* {
    box-sizing: border-box;
    background-color: #c8c8af;
}

@font-face {
    font-family: Montserrat;
    src: url(../Montserrat-Regular.otf);
}

body {
    font-family: Montserrat;
    margin: 0;
}

.nav-menu {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.nav-menu ul {
    background-color: #333;
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: flex;
}

.nav-menu li {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-menu a {
    background-color: #333;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover {
    background-color: #555;
}

h1 {
    display: flex;
    justify-content: center;
}

.thumbnail {
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-self: center;
}

.main-body {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}