* {
    box-sizing: border-box;
    background-color: #c8c8af;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}

body {
    font-family: Montserrat;
    margin: 0;
}

.nav-menu {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.nav-menu ul {
    background-color: #333;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.nav-menu li {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-menu a {
    background-color: #333;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover {
    background-color: #555;
}

.logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.left-item {
    padding-right: 3%;
}

.embed {
    padding-top: 3%;
    width: 100%;
    max-width: 585px;
    aspect-ratio: 3 / 1;
}

.thumbnail {
    width: 80%;
    aspect-ratio: 16 / 9;
    padding-top: 3%;
    padding-right: 3%;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: flex-end;
}

.right-item {
    width: 80%;
    aspect-ratio: 16 / 9;
}

.box {
    padding-left: 3%;
}

.video {
    padding-top: 3%;
    padding-left: 3%;
}